
header {background-color: black;
    display: flex;
    justify-content: space-between;
    height: 140px;
    align-items: center;
}

body {
    margin: 0;
}

img { justify-content: center;

}

h1 { display:flex; 
    justify-content: center;
}

nav {color: white;
display:flex;
align-items: center;
justify-content: flex-end;
}

p { display: flex;
    align-content: space-around;
    margin-right: 15px;
}

.foto1 { display:flex;
background-size: cover;

}

div { display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
  
    
}

figure {
    width:30%;
    margin: 0;
    margin-top: 60px ;
    margin-bottom: 60px;
    position: relative;

}

figure img { max-width: 100% ;
}

figure img:hover {
    background-color: white ;
    
    color: black ;
    transition-duration: 5s;
}

#destaque {
    width: 100%;
    height: calc( 100vh - 240px);
    background-image: url('https://images.pexels.com/photos/1868471/pexels-photo-1868471.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#botao{
    text-decoration: none;
    background-color: white;
    color: black;
    border-style: solid;
    border-radius: 10px;
    Padding: 10px 20px 10px 20px ;
    margin-top: 50px;
}

 #botao:hover {
    background-color: black;
    color: white;
    transition-duration: 1s;
}

#logo { background-image: none;
    border: none;
    margin-left: 23px; 

}

h2 { color: white;
    margin-top: -2px;
background-color: black;
}

#socialmedia {
    display: flex;
    justify-content: space-between;

}

footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    color: white;
}

#botaocontacto {
    display: flex;
    flex-direction: column;
}

#shop {
    width: 90px ;
    
}

#abaixo {
   text-align: right;
  
}

figure:hover img {
    filter: blur(5px);
    transition-duration: 1s;
}

figcaption{ display: none;
    position: absolute;
    left:0px;
    right: 0px;
    bottom:0px;
    padding: 15px 20px ; 
    background-color: rgba( 0, 0, 0, 0.7);
    color: white;
}

figure:hover figcaption{
    display: block ;
    justify-content:center; 

    font-size: 20px;
}

i {
    font-size: 23px;
    display: flex;
   justify-content: space-around;
}